.vscode
.vscode-test
node_modules
package-lock.json
.DS_Store
**/.DS_Store
**/*.pyc
**/ocrs.txt
**.log
**/repairs/*.txt
**.db
**.db-shm
**.db-wal
**.tar.gz
**.zip
**/.idea
.idea
**/dist
**/db

backend/server/target
backend/prism
backend/server/test
backend/server/.idea
Artifact

artifact-import-export/*.tar
