@import '../colors.css';

/* the logic for resizing panes is in panes.js */
.dragbar {
    background-color: var(--dragbar);
    width: 7px;
    cursor: e-resize;
}

.dragbar:hover {
    background-color: var(--dragbar-hover);
    width: 7px;
    z-index: 2;
}

.dragbar:before {
    position: absolute;
    margin-top: 15%;
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='18'%3E%3Cpath d='M2 0h3v3H2zm0 5h3v3H2zm0 5h3v3H2zm0 5h3v3H2z' style='fill:%239da7b7'/%3E%3C/svg%3E");
    box-sizing: border-box;
}

.dragbar:after {
    position: absolute;
    margin-top: 62%;
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='18'%3E%3Cpath d='M2 0h3v3H2zm0 5h3v3H2zm0 5h3v3H2zm0 5h3v3H2z' style='fill:%239da7b7'/%3E%3C/svg%3E");
    box-sizing: border-box;
}

/* the logic for resizing the split inside panes is in panes.js */
.split-dragbar {
    background-color: var(--dragbar);
    height: 7px;
    position: absolute;
    width: 100%;
    cursor: s-resize;
    z-index: 1;
}

.split-dragbar:after {
    position: absolute;
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='5'%3E%3Cpath d='M0 1.5h3v3H0zm5 0h3v3H5zm5 0h3v3h-3zm5 0h3v3h-3z' style='fill:%239da7b7'/%3E%3C/svg%3E");
    box-sizing: border-box;
    display: block;
    line-height: 0;
    margin-left: 48%;
}

.split-dragbar:hover {
    background-color: var(--dragbar-hover);
    height: 7px;
}

.pane {
    border-top: 5px var(--pane-background) solid; /* avoids flickering between active and non-active panes*/
}

.active-pane {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 

    border-top: 5px var(--active-pane) solid;

    .pane-controls {
        display:block;
        position:absolute;
        z-index:3;
        .button {
            background: var(--active-pane);
            i {
                color:white;
            }
        }
    }
}

.pane-controls {
    display:none;
}

.ui.attached.buttons {
    margin-top: -4px;
    margin-left: 5px;
}

#cy-overview {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: var(--pane-background);
    border-top: 1px solid #ccc;
  }

.cy-s {
    width: 100px;
    display: inline-block;
    position: relative;
    background-color: var(--pane-background);
    
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.cy {
    width: 100%;
    height: calc(100%); /* 10px is the height of the scrollbar */

}

