@import '../colors.css';

/* the logic for resizing panes is in panes.js */
.dragbar {
    background-color: var(--dragbar);
    width: 5px;
    cursor: col-resize;
}

.dragbar:hover {
    background-color: var(--dragbar-hover);
    width: 5px;
    z-index: 2;
}

/* the logic for resizing the split inside panes is in panes.js */
.split-dragbar {
    background-color: var(--dragbar);
    height: 5px;
    position: absolute;
    width: 100%;
    cursor: row-resize;
    z-index: 1;
}

.split-dragbar:hover {
    background-color: var(--dragbar-hover);
    height: 5px;
}

.pane {
    border-top: 5px var(--pane-background) solid; /* avoids flickering between active and non-active panes*/
}

.active-pane {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 

    border-top: 5px var(--active-pane) solid;
}

#cy-overview {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: var(--pane-background);
    border-top: 1px solid #ccc;
  }

.cy-s {
    width: 100px;
    display: inline-block;
    position: relative;
    background-color: var(--pane-background);
    
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.cy {
    width: 100%;
    height: calc(100%); /* 10px is the height of the scrollbar */

}

