.cursor-area {
  opacity: 0.5;
  fill: var(--pcp-bubble-cursor-color);
}

.selection-count-tooltip {
  fill: black;
}

path.highlighted-path {
  stroke: var(--pcp-hover);
  stroke-width: var(--pcp-hover-width);
}

.brush .extent {
  fill-opacity: .3;
  stroke: var(--pcp-bubble-cursor-color);
}

.axis line,
.axis path {
  fill: none;
  stroke: var(--pcp-axes-lines);
}

.axis text {
  fill: var(--pcp-text-fill);
  cursor: move;
}

.detail-inspector { 
  width: 100%;
  position: absolute;

  canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
    path {
      shape-rendering: geometricPrecision;
    }
    text {
      font-size: 12px;
    }
  }
}

.axis-violin, .axis-histogram {
  stroke: none;
  fill: #000;
  opacity: 0.5;
}
